.add-book-btn:hover {
  text-decoration: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  background: linear-gradient(to right, #198754 50%, #6c757d 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease;
}

.sidebar ul li a:hover {
  background-position: left bottom;
}
